.main{
    padding: 10px 10px;
    border: 1px solid black;
    background-color: lightgrey;
    margin-bottom: 10px;

}
.texta{
font-size: 18px;
}
.textb{
    font-size: 17px; 
    text-transform: uppercase;
}