<div class="row" *ngFor="let job of jobs">
	<div class="col-md-12 main">
		<div class="col-md-8">
			<span>
				<h2>{{job.jobTitle}}</h2>
			</span>
			<p>
				<span class="texta">Ref ID:</span>
				<span class="textb">
					<strong>{{job.jobId}} </strong>
				</span>
				<span class="texta">Viwes:</span>
				<span class="textb">
					<strong>8</strong>
				</span>
				<span class="texta"> Location:</span>
				<span class="textb">
					<strong>{{job.jobLocation}}</strong>
				</span>
			</p>

			<p>
				<span class="texta">Status:</span>
				<span class="textb">
					<strong> Paused</strong>
				</span>
				<span class="texta">Valid Util:</span>
				<span class="textb">
					<strong>Expired</strong>
				</span>
			</p>
		</div>

		<div class="col-md-4" style="padding:10px;">


			<div class="col-lg-3 col-md-4 my-jobs-actions">

				<div class="btn-group" role="group" aria-label="...">
					<a [routerLink]="['/job',username, job.jobId ]" class="btn btn-secondary btn-sm">
						<span class="glyphicon glyphicon-eye-open"></span>
						<span>View</span>
					</a>
					<a href="#" class="btn btn-secondary btn-sm">
						<span class="glyphicon glyphicon-pencil"></span>
						<span>Edit</span>
					</a>
				</div>
				<a href="#" class="btn btn-secondary btn-sm">
					<span class="glyphicon glyphicon-user"></span>
					<span>Candidates</span>
					<strong>(0)</strong>
				</a>
				<a href="#" class="btn btn-secondary btn-sm">
					<span class="glyphicon glyphicon-resize-full"></span>
					<span>Extend</span>
				</a>
			</div>
		</div>
	</div>
</div>