

<div class="page-header" style="background: url(assets/img/banner1.jpg); min-height: 250px ">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumb-wrapper">
					<h2 class="product-title">Post A Job</h2>
					<ol class="breadcrumb">
						<li>
							<a routerLink="/index">
								<i class="ti-home"></i> Home</a>
						</li>
						<li class="current">Post A Job</li>
					</ol>
				</div>
			</div>
		</div>
</div>
</div>


<div class="container">
<div class="main1" style="padding:10px 10px 10px 10px;">
		<div style="padding: 10px;" *ngIf="currentUser.role === 'employer'">
			<a [routerLink]="['/job', username, 'postjob']" class="btn btn-info">
				<span class="textb">Add Job</span>
			</a>
		</div>
		<app-joblisting [jobs]='jobs'></app-joblisting>
	</div>
</div>