<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">My Account</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">
                                <i class="ti-home"></i> Home</a>
                        </li>
                        <li class="current">My Account</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<section class="section text-center">
    <div class="container">
        <!-- login page here   -->
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="form cms-e-section">
                    <form [formGroup]="myForm" novalidate (ngSubmit)="loginFormSubmit()">
                        <div class="form-group">
                            <label class="control-label" for="email">
                                <span class="wc-editable" data-pk="front_label_email" data-type="text">Enter your email address</span>:</label>
                            <input type="email" formControlName="username" class="form-control required email" data-msg-email="Email is invalid." />
                            <div class="col-md-8 col-sm-9 col-sm-offset-3" *ngIf="f.username.errors && (f.username.dirty || f.username.touched)">
                                <p *ngIf="f.username.errors.required" class="alert-danger">Email is required</p>
                                <p *ngIf="f.username.errors.pattern" class="alert-danger">Email has invalid pattern</p>
                            </div>
                            <div class="help-block with-errors">
                                <ul class="list-unstyled"></ul>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="password">
                                <span class="wc-editable" data-pk="front_label_password" data-type="text">Password</span>: </label>
                            <input type="password" formControlName="password" class="form-control required" />
                            <div class="col-md-8 col-sm-9 col-sm-offset-3" *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                                <p *ngIf="f.password.errors.required" class="alert-danger">Password is required</p>
                            </div>
                            <div class="help-block with-errors">
                                <ul class="list-unstyled"></ul>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <span class="wc-editable" data-pk="front_btn_login" data-type="action">Login</span>
                            </button>

                            <a href="forget-password.html">
                                <span class="wc-editable" data-pk="front_link_forgot_password" data-type="text">Forgot password</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-md-offset-2 col-xs-12">

                <div class="box cms-e-section">
                    <div class="box-title">
                        <span class="wc-editable" data-pk="front_dont_have_account" data-type="text">Don't Have an Account?</span>
                    </div>

                    <a routerLink="/register" class="btn btn-primary btn-lg">
                        <span class="wc-editable" data-pk="front_register" data-type="text">Register</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>