<section id="intro" class="section-find">
  <div class="search-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Find the job that fits your life</h1>
          <br>
          <h2>More than
            <strong>12</strong> jobs are waiting to Kickstart your career!</h2>
          <div class="content">
            <form [formGroup]="myForm" (ngSubmit)="searchJob()">
              <div class="row">
                <div class="col-md-6 col-sm-4">
                  <div class="form-group">
                    <input class="form-control" formControlName="name" type="text" placeholder="job title / keywords / company name">
                    <i class="ti-time"></i>
                  </div>
                </div>
                <div class="col-md-5 col-sm-4">
                  <div class="form-group">
                    <input class="form-control" formControlName="location" type="text" placeholder="city / province / zip code">
                    <i class="ti-location-pin"></i>
                  </div>
                </div>
                <div class="col-md-1 col-sm-4">
                  <button type="submit" class="btn btn-search-icon">
                    <i class="ti-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="popular-jobs">
            <b>Popular Keywords: </b>
            <a href="#">Web Design</a>
            <a href="#">Manager</a>
            <a href="#">Programming</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="find-job section">
  <div class="container">
    <h2 class="section-title">Featured Jobs</h2>
    <div class="row">
      <app-job-list [limit]= "5"></app-job-list>
    </div>
  </div>
</section>